    
body{
    background-color: #fffbf3;
    padding: 0;
    margin: 0;
}


@media (min-width: 900px){

    /* header */

    header{
        display: grid;
        /* num of cols, line names, track size */
        grid-template-columns: repeat(16, [col-start] 4.5%); 
        gap: 30px;
        position: sticky;
        top: 20px;

    }


    #HomeName{
        grid-column: col-start 2 / span 4;
        grid-row:  1;

    }

    #NavBar{
        display: grid;
        grid-column: 10 / 16;
        grid-row: 1;
        grid-template-columns: subgrid;

    }

    #WorkTab{
        grid-column: col-start 5 / span 4;
        grid-row: 1;
    }

    #AboutTab{
        grid-column: col-start 9 / span 4;
        grid-row: 1;
    }

    #ResumeTab{
        grid-column: col-start 13 / span 4;
        grid-row: 1;
    }

}

/* home page intro */

@media (min-width: 600px){

    #Home{
        display: grid;
        grid-template-columns: repeat(16, [col-start] 4.5%); 
        gap: 30px;
    }

    #Home p{
        font-size:2.6em;
        grid-column: col-start 2 / span 9;
        grid-row: 8;
        line-height: 1.29;
    }
}

/* work */

@media (min-width: 1000px){

#Work{
    display: grid;
    grid-template-columns: repeat(16, [col-start] 4.5%);
    gap: 30px;

}

#Work h1{
    grid-column: col-start 2 / span 3;
}


#tldr{
    grid-column: col-start 10 / span 6;
    grid-row: 3 / 16;

}

#pamelas{
    grid-column: col-start 10 / span 6;
    grid-row: 6 / 16;

}

#falooda{
    grid-column: col-start 10 / span 6;
    grid-row: 9 / 16;

}

#ninetofive{
    grid-column: col-start 10 / span 6;
    grid-row: 12 / 16;

}

}

@media (min-width: 800px){


#tldrphoto {
    grid-column: col-start 2 / span 3;
    grid-row: 4 / 16;
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

#pamelasphoto{
    grid-column: col-start 2 / span 3;
    grid-row: 4 / 16;
    display: none;
    width: 500px;
    height: 250px;
    border-radius: 20px;
}


#faloodaphoto{
    grid-column: col-start 2 / span 3;
    grid-row: 4 / 16;
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}


#ninetofivephoto{
    grid-column: col-start 3 / span 3;
    grid-row: 3 / 16;
    display: none;
    height: 340px;
    width: 400px;
    border-radius: 20px;
}

}



/* gallery */

@media (min-width: 1300px){

#aboutHeadings{
    display: grid;
    grid-template-columns: repeat(16, [col-start] 4.5%); 
    gap: 30px;

}

#aboutHeadings h1{
    grid-column: col-start 2 / span 2;
    grid-row: 1 / 4;
}


#aboutHeadings p{
    grid-column: col-start 13 / span 3;
    grid-row: 3 / 6;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(16, [col-start] 4.5%);
    gap: 8px;
    width: 100%;
}

#gallery img{
    border-radius: 20px;
}


#selfie{
    grid-column: col-start 2;
    grid-row: 1 / 16;
    width: 230px;
    height: 200px;
}

#brunch{
    grid-column: col-start 6;
    grid-row: 1;
    width: 365px;
    height: 200px;
}


#incline{
    grid-column: col-start 12;
    grid-row: 1;
    width: 230px;
    height: 200px;

}

#mural{
    grid-column: col-start 16;
    grid-row: 1;
    width: 240px;
    height: 200px;

}

#cupcake{
    grid-column: col-start 2;
    grid-row: 3;
    width: 230px; 
    height: 300px;

}

#apples{
    grid-column: col-start 6;
    grid-row: 3;
    width: 230px;
    height: 300px;

}

#reflection{
    grid-column: col-start 10;
    grid-row: 3;
    width: 230px;
    height: 300px;


}

#cat{
    grid-column: col-start 14;
    grid-row: 3;
    width: 380px;
    height: 300px;

}

#gallery p{
    grid-column: col-start 14 / span 3;
    grid-row: 4 / 4;

}

/* about */

}

#bio{
    display: grid;
    grid-template-columns: repeat(16, [col-start] 4.5%);
    gap: 30px;
}

h2.background{
    grid-column: col-start 2 / span 5;
    grid-row: 1 / 8;
}

h2.current{
    grid-column: col-start 2 / span 5;
    grid-row: 4 / 8;

}

h2.favorites{
    grid-column: col-start 2 / span 5;
    grid-row: 7 / 8;

}

p.background{
    grid-column: col-start 8 / span 7;
    display: none;
    grid-row: 1 / span 8;
}

p.current{
    grid-column: col-start 8 / span 7;
    grid-row: 2 / span 7;
    display: none;

}

p.favorites{
    grid-column: col-start 8 / span 7;
    grid-row: 4 / 8;
    display: none;
}


/* footer */



table{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    border-spacing: 4px;
    text-align:left;
    vertical-align:top;
}

thead{
    grid-row: 2;
    grid-column-start:15;
    grid-column-end: 16;
}


tbody{
    padding-top: 5px;
    grid-column: 15;
    grid-row: 4;

}




footer img{
    width: 20px;
}


